html,
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  background-color: #111720;
  color: #ddd;
  font-size: 2em;
}

body {
  background-color: #222831;
  color: #ddd;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  height: fit-content;
  margin: 30px;
}
.instructions * {
  margin: 10px;
  float: left;
}

.scores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.score-box {
  width: 170px;
}

.score {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 30px;
}

.btn {
  background-color: #393e46;
  cursor: pointer;
  border-radius: 10px;
}
.btn:hover {
  background-color: #5b5f68;
}

.btn-square {
  width: 160px;
  height: 160px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.sign {
  font-size: 80px;
  margin-bottom: 10px;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay.active {
  display: block;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 200px;
  padding: 30px;
  border-radius: 10px;
  background-color: #222831;
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 1.4em;
}

.btn-restart {
  height: 70px;
}
